img.class-face {
  height: 300px;
  width: 300px;
}

img.lightswitch {
  width: 200px;
  height: 200px;
}

img.light {
  width: 150px;
  height: 250px;
}

.toggled {
  transform: scaleY(-1);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: springgreen;
}

body > div {
  display: flex;
}

body > div > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

body > div * {
  font-size: 20px;
  font-family: 'Loved by the King', cursive;
}

html {
  height: 100%;
}

div.DOMain-html-empty {
  background-color: antiquewhite;
}

div.DOMain-append-remove {
  background-color: lightgray;
  color: gray;
}

div.DOMain-addClass-removeClass {
  background-color: yellow;
}

div.DOMain-on-off {
  background-color: #000066;
  display: flex;
}

div.DOMain-ajax {
  background-color: aliceblue;
}
body > h1 {
  color: white;
  font-family: 'Loved by the King', cursive;
}
